<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<table>
    <thead>
    <tr>
        <td>No.</td>
        <td>제목</td>
        <td>내용</td>
        <td>날짜</td>
    </tr>
    </thead>
    <tbody>
    <%
    rows.forEach(function(row) {
        %>
        <tr>
            <td><%=row.nr%></td>
            <td><%=row.subject%></td>
            <td><%=row.content%></td>
            <td><%=row.regdate%></td>
        </tr>
        <%
    });
    %>
    </tbody>
</table>
</body>
</html>