<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<table>
    <thead>
    <%
    rows.forEach(function(row) {
        %>
        <tr>
            <td>No.</td>
            <td><%=row.subject%></td>
            <td><%=row.content%></td>
            <td><%=row.regdate%></td>
        </tr>
        <%
    });
    %>

    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>안녕하세요</td>
        <td>포스트잇</td>
        <td>2016.01.30</td>
    </tr>
    </tbody>
</table>
</body>
</html>