<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="/<%=boardName%>/">목록</a> | <a href="/<%=boardName%>/edit/<%=row.nr%>">수정</a> | <a href="/<%=boardName%>/delete/<%=row.nr%>">삭제</a></p>
<dl>
    <dt>제목: </dt>
    <dd><%=row.subject%></dd>
</dl>
<dl>
    <dt>내용: </dt>
    <dd><%=row.content%></dd>
</dl>
<dl>
    <dt>날짜: </dt>
    <dd><%=row.regdate%></dd>
</dl>
</body>
</html>