<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><a href="/<%=boardName%>/">목록</a></p>
<% if(row.subject) {
    var route_name = 'edit/' + row.nr;
}else{
    var route_name = 'write';
}
%>
<form method="post" action=<%route_name%> >
    <table>
        <thead>
        <tr>
            <td>제목</td>
            <td>내용</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" name="subject" value="<%=row.subject%>" /> </td>
            <td><textarea name="content"><%=row.content%></textarea></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="저장" />
</form>

</body>
</html>